{{#partial "content"}}
    <div class="data-image3"></div>
    <div class="container" id="data2">
        <h5 id="data3">Add Location</h5>
        <hr>
        <form method="Post" action="/addlocation">
            <div class="form-group">
                <label for="name">Location Name</label>
                <input type="text" class="form-control" id="locationName" name="locationName" placeholder="Location Name">
            </div>
            <button type="submit" class="btn btn-primary" id="data3">Submit</button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}