{{#partial "content"}}
    <div class="data-image2"></div>
    <div class="container" id="data2">
        <h5 id="data3">Add Ranger</h5>
        <hr>
        <form method="Post" action="/addranger">
            <div class="form-group">
                <label for="name">Ranger Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Ranger Name">
            </div>
            <div class="form-group">
                <label for="badge">Ranger Badge Number</label>
                <input type="number" class="form-control" id="badge" name="badge" placeholder="Ranger Badge Number">
            </div>
            <div class="form-group">
                <label for="contact">Ranger Contact</label>
                <input type="tel" class="form-control" id="contact" name="contact" placeholder="Ranger Contact">
            </div>
            <button type="submit" class="btn btn-primary" id="data3">Submit</button>
        </form>
    </div>
{{/partial}}
{{> layout.hbs}}